<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlackBoard Giga - Member List</title>

    <th:block th:replace="parts/styles :: common"></th:block>
    <th:block th:replace="parts/styles :: datatable"></th:block>

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <th:block th:replace="parts/sidemenu :: menu"></th:block>
        <th:block th:replace="parts/topmenu :: menu"></th:block>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Members</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable"
                               class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th style="width: 50px;">Gender</th>
                                <th style="width: 50px;">Created Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="m : ${members}">
                                <td th:text="${m.id}"></tdstyle>
                                <td th:text="${m.displayName}"></td>
                                <td th:text="${m.username}"></td>
                                <td style="white-space: pre-wrap" th:text="${m.gender}"></td>
                                <td th:text="${m.createdDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        <th:block th:replace="parts/footer :: footer"></th:block>

    </div>
</div>

<th:block th:replace="parts/scripts :: common"></th:block>
<th:block th:replace="parts/scripts :: datatable"></th:block>
<script th:src="@{/custom/js/book/list.js}"></script>
</body>
</html>